<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="">
  <title><%= htmlWebpackPlugin.options.title %></title> <!-- htmlWebpackPlugin 必须是小写的h-->
</head>

<body>
  <!--遍历输出htmlWebpackPlugin-->
  <%= htmlWebpackPlugin.options.date %>

 <!--遍历输出htmlWebpackPlugin.options的所有值-->
  <% for(var key in htmlWebpackPlugin.options){%>
  <%= key %> :  <%= JSON.stringify(htmlWebpackPlugin.options[key]) %>
  <% } %>

  <noscript>
    <strong>We're sorry but vue-single-spa-back doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <img src="./src/assets/car.jpg" alt="">
  <div id="app">
    <div class="test">
      <div>33</div>
    </div>
  </div>
  <!-- built files will be auto injected -->
</body>

</html>